* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;

}

ul,
ol,
menu {
    list-style: none;
}

/* mobile fino a 640px, tablet fino a 1024 px  */


/* MOBILE FIRST  */

/* HEADER CSS  */

.header {
    background-color: #0084FD;
    color: white;


}

.container {
    padding: 0 1.875rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;

}

.list-nav {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    align-items: center;
}

.desktop-nav {
    display: none;
}

.button {
    border-radius: 1rem;
    background-color: white;
    color: black;
    padding: 0.625rem;
}

/* MAIN CSS  */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;


}

.col8,
.col4 {
    /* border: 1px solid black; */
    flex-basis: 100%;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    background-color: #B5DDFF;
    border-radius: 1rem;
    padding: 2.25rem 2.25rem 0;
}

.row-col8,
.text-col8,
.row-col4 {
    display: flex;
    gap: 2.5rem;


    /* proprità mobile  */
    flex-direction: column;
}

.title-col {
    color: #0084FD;
    font-size: 1.25rem;

}

.p-col4,
.p-col8,
.p-col6 {
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #5A6E7F;

}

.fa-apple {
    padding-right: 0.625rem;
}

.text-col8 .button {
    background-color: #0084FD;
    color: white;
    text-align: center;
    padding: 0.7rem 2.75rem;
    font-weight: 600;
    border-radius: 2rem;
    width: 90%;
}

.img-col8 {
    margin-bottom: -0.25rem;
}

.row-col4 {
    justify-content: space-between;
    align-items: center;
}

.icon-col4 {
    font-size: 5rem;
    color: #0084FD;
    margin-top: -0.625rem;
}


.p-col4 {
    margin-top: -0.625rem;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
}


/* CSS SEZIONE VIOLA  */
.purple {
    background-color: #9792E4;
    padding-bottom: 4rem;
}

.row-col6 {
    display: flex;
    flex-direction: column;

}

.col6 {
    flex-basis: 100%;
}

.img-col6 {
    padding-top: 4rem;
}

.title-col6 {
    color: white;
    font-size: 1.875rem;
    padding-top: 6rem;
}

.p-col6 {
    color: white;
    padding-top: 3.75rem;
}

.col6.white {
    background-color: white;
    border-radius: 4rem;
    text-align: center;

}

.text-col6.black {
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-col6.black,
.p-col6.black {
    color: black;
}

.col6.white {
    margin-top: 2.25rem;
}

.title-col6.black {
    padding-top: 1.5rem;
    font-size: 1.25rem;
}

.p-col6.black {
    padding-top: 2.25rem;
}

.simbol-col6 {
    background-color: #9792E4;
    color: black;
    font-size: 1.25rem;
    border-radius: 50%;
    padding: 1rem;
    width: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 1.875rem;

}

/* CSS PROFILE-CARDS */


.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    padding-top: 4.25rem;
}

.text-container>h3 {
    font-size: 1.25rem;
    color: black;
}

.text-container>h2 {
    font-size: 2rem;
    color: #9792E4;

}

.text-container>p,
.text-profile {
    font-size: 1.125rem;
    color: black;
}

.row-profile {
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;
}

.col-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9792E4;

}

.text-profile {
    color: white;
}

.img-profile {
    padding: 1.875rem 3.15rem 2.25rem;
   
}

.img-profile>img {
    border-radius: 50%;
    aspect-ratio: 1;
}



/* MEDIA TABLET  */

@media (min-width:40rem) {

    /* MAIN CSS  */

    .col4 {
        flex-basis: calc(calc(100% / 3) - 0.75rem);
    }

    .col8 {
        flex-basis: calc(calc(100% /3 *2) - 0.75rem);
    }

    .img-col8 {
        max-width: 50%;

    }

    .text-col8 .button {
        width: 45%;
        font-size: 1.125rem;
    }

    .p-col4,
    .p-col8,
    .p-col6 {
        font-size: 1rem;
    }


    /* CSS SEZIONE VIOLA  */

    .text-col6.black {
        padding: 0 3.75rem;
    }

    .img-col6 {
        padding-top: 8.75rem;
    }

    .title-col6 {
        font-size: 3.875rem;
        padding-top: 10.25rem;
    }

    .p-col6 {
        padding-top: 4.5rem;
    }


    .col6.white {
        margin-top: 2.75rem;
    }

    .title-col6.black {
        padding-top: 2.25rem;
        font-size: 1.25rem;
    }

    .p-col6.black {
        padding-top: 2.25rem;
    }


    /* CSS PROFILE-CARDS */


    .text-container>h3 {
        font-size: 1.25rem;
        color: black;
    }

    .text-container>h2 {
        font-size: 2.375rem;
        color: #9792E4;

    }

    .text-container>p {
        font-size: 1.125rem;
        color: black;
    }

    .col-profile {

        flex-direction: row;
    }

    .img-profile {
        padding-top: 1.875rem 1.25rem 2.875rem;
       

    }


}


/* MEDIA DESKTOP  */
@media (min-width:64rem) {

    /* HEADER CSS  */

    .container {
        max-width: 75rem;
        margin: 0 auto;
        padding: 0 1.875rem;
    }



    .mobile-tablet-nav {
        display: none;
    }

    .desktop-nav {
        display: inline-block;
    }



    /* MAIN CSS  */

    .col4 {
        flex-basis: calc(calc(100% / 3) - 0.75rem);
    }

    .col8 {
        flex-basis: calc(calc(100% /3 *2) - 0.75rem);

    }

    .row-col8 {
        flex-direction: row;
    }

    .text-col8 .button {
        width: 55%;
        font-size: 1.125rem;
    }

    .p-col4,
    .p-col8,
    .p-col6 {
        font-size: 1rem;
    }

    .img-col8 {
        padding-top: 3rem;

    }

    .img-col8 img {
        position: relative;
        top: 13%;
    }

    #special-col4 {
        padding-bottom: 0;
    }


    /* CSS SEZIONE VIOLA  */

    .small {
        max-width: 60rem;
    }

    .col6 {
        flex-basis: 0;
        flex-grow: 1;
    }

    .row-col6 {
        flex-direction: row;
        gap: 4.25rem;
    }

    .text-col6.black {
        padding: 0 2.5rem;
    }

    .img-col6 {
        padding-top: 7.5rem;
    }

    .title-col6 {
        font-size: 1.875rem;
        padding-top: 9.5rem;

    }

    .p-col6 {
        padding-top: 3.75rem;
    }

    .col6.white {
        margin-top: 18.75rem;
    }

    .title-col6.black {
        padding-top: 1.5rem;
        font-size: 1.25rem;
    }

    .p-col6.black {
        padding-top: 1.5rem;
    }


    /* CSS PROFILE-CARDS  */

    .text-container>h3 {
        font-size: 1.25rem;
        color: black;
    }

    .text-container>h2 {
        font-size: 2.625rem;
        color: #9792E4;

    }

    .text-container>p {
        font-size: 1.125rem;
        color: black;
    }

    .col-profile {

        flex-direction: row;
    }

    .img-profile {
        padding-top: 1.875rem 1.25rem 2.875rem;
        

    }

}